html {  
  scroll-behavior: smooth;  
}

* {
  font-family: 'Baskerville';
}

body {
  /* for SOME reason, setting margin to 0 eliminates any gaps to the left. */
  margin: 0;
  min-width: 350px;
}


/* -------------------------  Mini Stoof sprite elements. -------------------------*/
#sprite { 
    width: 68px;
    height: 68px;
    margin: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background: url(../images/final_anim_strip.png);
    animation: sprite_anim 1.3s steps(6) infinite;
} 

@keyframes sprite_anim {
    100% { background-position: 408; }
}

#sprite2 { 
  width: 40px;
  height: 52px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  display: inline-block;
  background: url(../images/mail_stoof_strip.png);
  animation: sprite_anim2 2.5s steps(11) infinite;
} 

.spriteText {
  padding-left: 21%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 14px;
  color: #45a6bb;
  top:0;
  width:50%;
}

@keyframes sprite_anim2 {
  100% { background-position: 440; }
}

#laptopSprite { 
  width: 63px;
  height: 63px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin: auto;
  background: url(../images/laptop_stoof.png);
} 

#petersenSprite { 
  width: 150px;
  height: 70px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin: auto;
  background: url(../images/petersen_strip.png);
  animation: petersen_anim 8.0s steps(11) infinite;
} 

@keyframes petersen_anim {
  100% { background-position: -1650; }
}

/* --------------------- Intro Content Box ---------------- */

.introContent {
  max-width: 600px;
  min-width: 450px;
  padding-top: 10px;
  background-color: #ffffff;
  padding-bottom: 50px;
  font-size: 18px;
  margin-left: auto auto;
  text-align: center;
  color: #298194;
  width: 98%;
}

/* ------------------------- Navigation Bar -------------------------*/
#homeNav {
    border: 1px solid #b0e2ed;
    font-family: Baskerville;
    background-color: #eefcff;
    top: 0;
    position: fixed;
    text-align: center;
    left: 22%;
    right:22%;

    border-radius: 4px;
    max-width: 600px;
    min-width: 450px; 
    /* change to 350 */
    overflow: hidden;
    display: inline-block;
    height: fit-content;
    margin-left: auto auto;
  }
  /* ---------------------- Style the links inside the navigation bar */
  #homeNav tabName {
    float: left;
    text-align: center;
    display: block;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    color:#000000;
  }

  #homeNav tab {
    float: right;
    color: #041a32;
    text-align: center;
    width: 58px;
    height: 100%;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Change the color of links on hover */
  #homeNav tab:hover {
    background-color: #b6d5e7;
    color: black;
    border-radius: 4px;
  }
  
  /* Add a color to the active/current link */
  #homeNav tab.active {
    background-color: #45a6bb;
    color: white;
    border-radius: 4px;
  }

.content {
  padding-top: 100px;
  margin-left: 22%;
  margin-right: 22%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Hide the link that should open and close the topnav on small screens */
#homeNav .icon {
  display: none;
}

@media screen and (max-width: 950px) {
  #homeNav a:not(:first-child) {
    display: none;
  }
  #homeNav a.icon {
    float: right;
    padding: 15px;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 950px) {
  #homeNav.responsive {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
  }
  
  #homeNav.responsive a.icon {
    grid-area: inner-div;
    position: absolute;
    padding: 15px;
    right: 0;
    bottom: 0;
  }
  
  #homeNav.responsive a {
    float: none;
    display: block;
    text-align: right;
    height: 10px;
    padding-bottom: 30px;
  }
}
  

/* --------------------- General Content Boxes ---------------- */
.generalContent {
  border: 1px solid #b0e2ed;
  background-color: #eefcff;
  width: 100%;
  min-width: 450px; 
  max-width: 600px;
  top: 200px;
  scroll-margin-top: 7em;
  border-radius: 4px;
  padding-bottom: 30px;
  display: inline-block;
  height: fit-content;
  margin: auto auto;
  align-items: center;
}

  .generalContent header {
    padding-left: 20px;
    padding-top: 18px;
    margin: auto;
    font-size: 24px;
    width: 100%;
  }

  .generalContent content {
    margin: auto;
    padding: 20px;
    float: left;
    width: 93%;
    padding-top: 15px;
    font-size: 18px;
  }

  .generalContent line {
    margin:auto;
    width: 95%;
    top: 50%;
    height: 1px;
    background: rgb(0, 0, 0);
    content: "";
    display: block;
  }

  .generalContent year {
    width: 93%;
    margin: auto;
    float: right;
    padding-right: 40;
    font-size: 16;
  }

  .generalContent company {
    width: 90%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 600;
    padding-left: 20px;
    margin: auto;
    float: left;
    font-size: 19px;
  }

  .generalContent position {
    font-style: italic;
    padding-right: 20px;
    width: 92%;
    margin: auto;
    padding-left: 20px;
    float: left;
    bottom: -10px;
    font-size: 18px;
  }

  .generalContent jobContent {
    width: 92%;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    bottom: -10px;
    font-size: 18px;
  }

  .generalContent smolContent {
    margin: auto;
    float: left;
    color: #45a6bb;
    font-size: 18;
  }

  a:link {
    text-decoration: underline;
    color: #45a6bb;
  }
  
  a:visited {
    text-decoration: none;
    color: #45a6bb;
  }
  
  a:hover {
    color: rgb(232, 109, 9);
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

/* --------------------- Contact Box ---------------- */
.contact-form-box {
  background-color: #fff;
  max-width: 400px;
  text-align: center;
  margin: auto;
  border-width: 2px;
  border-color: #000000;
}

.form-group {
  text-align: center;
  padding-bottom: 10px;
  
}

input {
  font-size: 16px;
  border: none ;
  border-radius: 4px;
  height: 35px;
  font-family: Baskerville;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  border: 1px solid green;
}

textarea {
  text-align: left;
  border-radius: 4px;
  font-family: Baskerville;
  width: 70%;
  background-color: #ffffff;
  resize: none; 
  height: 150px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.submit-button {
  border-radius: 4px;
  text-align: center;
  font-family: Baskerville;
  height: 20px;
  width: 30%;
  margin: auto;
  display: block;
  font-size: 14px;
  padding-bottom: 0px;
}

/* Add styles to 'label' selector */
label {
  font-size: 14px;
  text-align: center;
  display: block;
  margin: auto;
  padding-bottom: 2px;
  float: left;
  margin-left: 15%;
  margin-right: 15%;
}

input[type=submit] {
    background: #45a6bb;
    box-shadow: none;
    margin: 0 auto;
    outline: 0;
    color: white;
    height: 35px;
    border: 0;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

/* Style 'hover' property */
input[type=submit]:hover {
  background: #6bcae0;
}

.centerText {
  font-size: 18px;
  margin: auto;
  text-align: center;
  color: #157186;
  width: 95%;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* --------------------- PDF Box ---------------- */

iframe {
  text-align: center;
  margin: auto;
  width: 70%;
  height: 200px;
  padding-left: 15%;
  padding-top: 20px;
  padding-bottom: 10px;
}

ul {
  padding-right: 10px;
  padding-left: 20px;
}

/* --------------------- Space Block ---------------- */

#space {
  height: 10px;
  color:#a02424;
  background-color: #000000;
  width: 10px;
  display: inline-block;
  margin:auto;
}