html {  
  scroll-behavior: smooth;  
}

* {
  font-family: 'Baskerville';
}

body {
  /* for SOME reason, setting margin to 0 eliminates any gaps to the left. */
  margin: 0;
  min-width: 300px;
}


/* -------------------------  Mini Stoof sprite elements. -------------------------*/
#sprite { 
    width: 68px;
    height: 68px;
    margin: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    background: url(../images/final_anim_strip.png);
    animation: sprite_anim 1.3s steps(6) infinite;
} 

@keyframes sprite_anim {
    100% { background-position: 408; }
}

#sprite2 { 
  padding-left: 9px;
  width: 68px;
  height: 68px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  float: right;
  margin: auto;
  background: url(../images/mail_sprite.png);
  animation: sprite_anim2 2.0s steps(10) infinite;
} 

@keyframes sprite_anim2 {
  100% { background-position: 680; }
}

#laptopSprite { 
  width: 63px;
  height: 63px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin: auto;
  background: url(../images/laptop_stoof.png);
} 

#petersenSprite { 
  width: 150px;
  height: 70px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin: auto;
  background: url(../images/petersen_strip.png);
  animation: petersen_anim 8.0s steps(11) infinite;
} 

@keyframes petersen_anim {
  100% { background-position: -1650; }
}

/* --------------------- Intro Content Box ---------------- */

.introContent {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  padding-top: 10px;
  background-color: #ffffff;
  padding-bottom: 15px;
  font-size: 18px;
  margin: auto auto;
  text-align: center;
  color: #298194;
}

/* ------------------------- Navigation Bar -------------------------*/
#homeNav {
  border: 1px solid #b0e2ed;
  font-family: Baskerville;
  background-color: #eefcff;
  top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  min-width: 300px;
  max-width: 600px;
  overflow: hidden;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  margin: auto auto;
}

/* ---------------------- Style the links inside the navigation bar */
#homeNav tabName {
  float: left;
  text-align: center;
  display: block;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  color:#000000;
}

#homeNav tab-container {
  display: flex;
  flex-direction: row-reverse;
}

#homeNav tab {
  margin-left: auto;
  color: #041a32;
  text-align: center;
  width: 120px;
  height: 18px;
  padding: 15px;
  text-decoration: none; 
  font-size: 14px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
}

/* Change the color of links on hover */
#homeNav tab:hover {
  background-color: #b6d5e7;
  text-align: center;
  color: black;
  border-radius: 4px;
  margin-left: auto;
  text-decoration: none;
}

/* Add a color to the active/current link */
#homeNav tab.active {
  background-color: #45a6bb;
  text-align: center;
  color: white;
  border-radius: 4px;
  margin-left: auto;
}

.content {
  padding-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  }

.sticky {
position: fixed;
top: 0;
width: 100%;
}

  

/* --------------------- General Content Boxes ---------------- */
.generalContent {
  margin: auto auto;
  border: 1px solid #b0e2ed;
  background-color: #eefcff;
  min-width: 300px;
  max-width: 600px;
  scroll-margin-top: 5em;
  border-radius: 4px;
  padding-bottom: 15px;
  overflow: hidden;
  height: fit-content;
}

.generalContent header {
  padding-left: 20px;
  padding-top: 18px;
  margin: auto auto;
  font-size: 24px;
  width: 100%;
}

.generalContent content {
  margin: auto auto;
  padding: 20px;
  float: left;
  width: 93%;
  padding-top: 15px;
  font-size: 18px;
}

.generalContent line {
  margin: auto;
  width: 95%;
  top: 50%;
  height: 1px;
  background: rgb(0, 0, 0);
  content: "";
  display: block;
}

.generalContent year {
  width: 93%;
  margin: auto;
  float: right;
  padding-right: 40;
  font-size: 16;
}

  a:link {
    text-decoration: underline;
    color: #45a6bb;
  }
  
  a:visited {
    text-decoration: none;
    color: #45a6bb;
  }
  
  a:hover {
    color: rgb(232, 109, 9);
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
  
  /* --------------------- Space Block ---------------- */
  
  #space {
    height: 10px;
    color:#a02424;
    background-color: #000000;
    width: 10px;
    display: inline-block;
    margin:auto;
  }

  .headerProject {
    overflow-x: hidden;
    color: #298194;
    font-size: 30;
    margin: auto;
    text-align: center;
    max-width: 650px;
    min-width: 300px;
  }

  /* --------------------- Video ---------------- */

  .videoBox {
    display: block;
    margin: auto auto;
    max-width: 100%;
    text-align: center;
    overflow: hidden; 

  }

  .videoBox video {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 99%;
  }

  .bulletBox {
    padding-left: 9px;
    height: 480px;
    width: 340px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
  }
    /* ------------------------ grid stuff ------------------------ */

    .grid-container-four {
      padding-top: 15px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      background-color: #ffffff00;
      right: 0;
      left: 0;
      border-radius: 10px;
      width: 100%;
    }

    .grid-container-mosaic {
      padding-top: 15px;
      display: grid;
      gap: 5px;
      grid-template-columns: auto auto auto auto;
      background-color: #ffffff00;
      right: 0;
      left: 0;
      border-radius: 10px;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
    }

    .grid-container-trans {
      padding-top: 15px;
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #ffffff00;
      right: 0;
      left: 0;
      border-radius: 10px;
      margin-right: auto;
      margin-left: auto;
      width: 95%;
    }

    .grid-item-img {
      background-color: #ffffff00;
      display: inline-block;
      height: 205px;
      width: 132px;
      font-size: 16px;
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .grid-item-img img {
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      height: 153px;
      width: 117px;
  }

    .grid-item-trans {
      background-color: #ffffff00;
      display: inline-block;
      height: 193px;
      width: 183px;
      font-size: 16px;
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .grid-item-trans-50-50 {
      background-color: #ffffff00;
      display: inline-block;
      height: 100px;
      width: 60px;
      font-size: 16px;
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
    }

    .grid-item-trans-50-50 img {
      background-color: #ffffff00;
      display: inline-block;
      height: 50px;
      width: 50px;
      font-size: 16px;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .grid-item-trans-50-100 {
      background-color: #ffffff00;
      display: inline-block;
      height: 100px;
      width: 110px;
      font-size: 14px;
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
    }

    .grid-item-trans-50-100 img {
      background-color: #ffffff00;
      border-radius: 10px;
      display: inline-block;
      height: 50px;
      width: 100px;
      font-size: 14px;
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .grid-item-trans img {
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      height: 163px;
      width: 163px;
  }
  
    .grid-item-phone {
      background-color: #ffffff00;
      display: inline-block;
      height: 290px;
      width: 132.5px;
      font-size: 16px;
      margin: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  
    .grid-item-phone img {
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      height: 237.5px;
      width: 117px;
  }

  /* ------------------------ Image stuff ------------------------ */

  .image-box {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    justify-content: center;
    align-items: center;
  }

    /* ------------------------ Project selector box ------------------------ */
    .grid-container-projects {
      display: grid;
      gap: 10px;
      grid-template-columns: auto auto auto auto;
      background-color: #ffffff00;
      margin: auto auto;
      width: 100%;
      min-width: 300px;
      max-width: 600px;
      padding-bottom: 30px;
      text-decoration: none;
      padding-top: 35px;
    }

    .grid-project {
      text-decoration: none;
      border: 1px solid #b0e2ed;
      background-color: #eefcff;
      border-radius: 4px;
      display: inline-grid;
      height: 50px;
      width: 80px;
      font-size: 16px;
      margin: auto auto;
      text-align: center;
      overflow: hidden;
      justify-items: center;
      align-items: center;
    }

    /* ------------------------ Dropdowns for image displays ------------------------ */

    .dropdown-img {
      width: 100%;
      height: 20px;
      font-size: 16px;
      text-align: left;
      border: 1px solid #154a56;
      background-color: #c3ebf4;
      margin: auto auto;
      border-radius: 4px;
      display: block;
    }

    .arrow {
      border-top:   10px solid #154a56;
      border-left:  8px solid transparent; 
      border-right: 8px solid transparent;
      float: left;
      margin-top: 5px;
      margin-left: 5px;
    }

    .arrow:hover {
      border-top:   10px solid #e3a23f;
      border-left:  8px solid transparent; 
      border-right: 8px solid transparent;
      float: left;
      margin-top: 5px;
      margin-left: 5px;
    }

    .dropdown-text {
      font-size: 16px;
      margin-left: 10px;
    }

    .dropdown-content {
      width: 100%;
      height: fit-content;
      margin: auto auto;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top: 1px solid rgba(0, 0, 0, 0.8);
      border-left: 1px solid rgba(0, 0, 0, 0.8);
      border-right: 1px solid rgba(0, 0, 0, 0.8);
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
      background-color: #c3ebf4;
      display: none;
    }

    .histoBox {
      height: 330px;
      width: 277px;
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      margin: auto auto;
    }

    .histoBox img {
      width: 100%;
      border-radius: 10px;
    }

    .testBox {
      width: 60px;
      height: 60px;
      border: 1px solid rgba(0, 0, 0, 0.8);
      display: inline-block;
      margin:auto;
    }

/* three grid dims */
@media screen and (max-width: 1060px) {
  .grid-container-four {
    padding-top: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto ;
    background-color: #ffffff00;
    right: 0;
    left: 0;
    border-radius: 10px;
    width: 90%;
  }

  #homeNav {
    border: 1px solid #b0e2ed;
    font-family: Baskerville;
    background-color: #eefcff;
    top: 0;
    position: fixed;
    text-align: center;
    width: 90%;
    border-radius: 4px;
    min-width: 300px;
    max-width: 600px;
    overflow: hidden;
    display: block;
    transform: translateX(-50%);
    left: 50%;
    margin: auto auto;
  }
}

@media screen and (max-width: 660px) {
  .dropdown-content {
    width: 100%;
    height: fit-content;
    margin: auto auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-left: 1px solid rgba(0, 0, 0, 0.8);
    border-right: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    background-color: #c3ebf4;
    display: none;
  }

  .dropdown-img {
    width: 100%;
    height: 20px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #154a56;
    background-color: #c3ebf4;
    margin: auto auto;
    border-radius: 4px;
    display: block;
  }

  .grid-container-four {
    padding-top: 15px;
    display: grid;
    gap: 1px;
    grid-template-columns: auto auto;
    background-color: #ffffff00;
    right: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
  }

  #homeNav {
    border: 1px solid #b0e2ed;
    font-family: Baskerville;
    background-color: #eefcff;
    top: 0;
    position: fixed;
    text-align: center;
    width: 90%;
    border-radius: 4px;
    min-width: 300px;
    max-width: 600px;
    overflow: hidden;
    display: block;
    transform: translateX(-50%);
    left: 50%;
    margin: auto auto;
  }

  .generalContent content {
    padding-left: 5%;
    float: left;
    width: 98%;
    padding-top: 15px;
    font-size: 17px;
  }

  .generalContent > content {
    font-size: 16px;
    width: 90%;
    margin: auto auto;
  }

  .generalContent > header {
    font-size: 20px;
  }

  .generalContent > line {
    width: 92%;
  }

  .grid-container-trans {
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #ffffff00;
    right: 0;
    left: 0;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
  }

  .grid-item-trans {
    background-color: #ffffff00;
    display: inline-block;
    height: 150px;
    width: 150px;
    font-size: 15px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item-trans img {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 122px;
    width: 122px;
}

#homeNav tab {
  margin-left: auto;
  color: #041a32;
  text-align: center;
  width: 120px;
  height: 18px;
  padding: 15px;
  text-decoration: none; 
  font-size: 13px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
}

.videoBox {
  display: block;
  margin: auto auto;
  max-width: 90%;
  text-align: center;
  overflow: hidden; 
}

.headerProject {
  overflow-x: hidden;
  color: #298194;
  font-size: 25;
  margin: auto;
  text-align: center;
  max-width: 650px;
  min-width: 300px;
}
}

@media screen and (max-width: 330px) {
  #homeNav {
    border: 1px solid #b0e2ed;
    font-family: Baskerville;
    background-color: #eefcff;
    top: 0;
    position: fixed;
    text-align: center;
    width: 90%;
    border-radius: 4px;
    min-width: 300px;
    max-width: 600px;
    overflow: hidden;
    display: block;
    transform: translateX(-50%);
    left: 50%;
    margin: auto auto;
  }

  .grid-container-four {
    padding-top: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto ;
    background-color: #ffffff00;
    right: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
  }

  .generalContent content {
    padding-left: 5%;
    float: left;
    width: 98%;
    padding-top: 15px;
    font-size: 17px;
  }

  .generalContent > content {
    font-size: 16px;
    width: 90%;
    margin: auto auto;
  }

  .generalContent > header {
    font-size: 20px;
  }

  .generalContent > line {
    width: 92%;
  }

  .videoBox {
    display: block;
    margin: auto auto;
    max-width: 90%;
    text-align: center;
    overflow: hidden; 
  }

  #homeNav tab {
    margin-left: auto;
    color: #041a32;
    text-align: center;
    width: 120px;
    height: 18px;
    padding: 15px;
    text-decoration: none; 
    font-size: 10px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
  }
}
