html {  
    scroll-behavior: smooth;  
  }
  
  * {
    font-family: 'Baskerville';
  }
  
  body {
    /* for SOME reason, setting margin to 0 eliminates any gaps to the left. */
    margin: 0;
  }

  /* slideshow items */

  .slide-container {
    position: fixed;
    top: 50.2px;
    height: 100%;
    width: 100%;
    background-color: #000000e5;
    display: none; 
    /* change to flex */
    justify-content: center;
  }

  .slide-container img-container {
    height: 82.5%;
    display: flex;
    justify-content: center;
  }

  .slide-container img-container img {
    width: 100%;
  }

  .slide-container desc {
    position: absolute;
    bottom: 13%;
    width: 100%;
    text-align: center;
    color:white;
    font-size: 15px;
  }

  .slide-container exit {
    cursor: pointer;
    position: absolute;
    color: white;
    top: 0;
    right: 10px;
  }

  .slide-container arrow-left, arrow-right {
    cursor: pointer;
    position: absolute;
    top: 46%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
  }

  .slide-container arrow-left {
    margin-left: auto;
    left: 0;
    border-top:   12px solid transparent;
    border-right:  18px solid #ffffff; 
    border-bottom: 12px solid transparent;
  }

  .slide-container arrow-right {
    margin-right: auto;
    right:0;
    border-top:   12px solid transparent;
    border-left:  18px solid #ffffff; 
    border-bottom: 12px solid transparent;
  }
  
  /* -------------------------  Mini Stoof sprite elements. -------------------------*/
  #sprite { 
      width: 68px;
      height: 68px;
      margin: auto;
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
      background: url(../images/final_anim_strip.png);
      animation: sprite_anim 1.3s steps(6) infinite;
  } 
  
  @keyframes sprite_anim {
      100% { background-position: 408; }
  }
  
  #sprite2 { 
    padding-left: 9px;
    width: 68px;
    height: 68px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    margin: auto;
    background: url(../images/mail_sprite.png);
    animation: sprite_anim2 2.0s steps(10) infinite;
  } 

  @keyframes sprite_anim2 {
    100% { background-position: 680; }
  }
  
  /* --------------------- Intro Content Box ---------------- */
  
  .headerArt {
    color: #298194;
    min-width: 300px;
    font-size: 28;
    margin: auto auto;
    text-align: center;
  }

  .introContent {
    width:100%;
    max-width: 600px;
    min-width: 300px;
    padding-top: 10px;
    background-color: #ffffff;
    padding-bottom: 50px;
    font-size: 18px;
    margin: auto auto;
    text-align: center;
    color: #298194;
  }
  
  /* ------------------------- Navigation Bar -------------------------*/
  #homeNav {
    border: 1px solid #b0e2ed;
    font-family: Baskerville;
    background-color: #eefcff;
    top: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    min-width: 400px;
    overflow: hidden;
    display: block;
    transform: translateX(-50%);
    left: 50%;
    /* justify-content: space-between; */
    margin: auto auto;
    /* align-items: center; */
  }
  
  /* ---------------------- Style the links inside the navigation bar */
  #homeNav tabName {
    float: left;
    text-align: center;
    display: block;
    padding: 14px;
    text-decoration: none;
    font-size: 18px;
    color:#000000;
  }
  
  #homeNav tab-container {
    display: flex;
    flex-direction: row-reverse;
  }
  
  #homeNav tab {
    margin-left: auto;
    color: #041a32;
    text-align: center;
    width: 120px;
    height: 18px;
    padding: 15px;
    text-decoration: none; 
    font-size: 14px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
  }
  
  /* Change the color of links on hover */
  #homeNav tab:hover {
    background-color: #b6d5e7;
    color: black;
    border-radius: 4px;
  }
  
  /* Add a color to the active/current link */
  #homeNav tab.active {
    background-color: #45a6bb;
    color: white;
    border-radius: 4px;
  }

.content {
  padding-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }



  /* ------------------------ grid stuff ------------------------ */

  .box-test {
    background-color: rgba(245, 182, 182, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    margin: auto auto;
  }

  .grid-container {
    display: grid;
    width: 80%;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin: auto auto;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 290px;
    width: 250px;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 370px;
    max-height: 350px;
}

.grid-item img:hover {
    opacity: 50%;
    width: auto;
    min-height: 100%;
    transition: .2s ease;
}


@media screen and (max-width: 1000px) {
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 230px;
    width: 210px;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 300px;
    max-height: 280px;
}

.grid-item img:hover {
  opacity: 50%;
  transition: .2s ease;
}
}

@media screen and (max-width: 830px) {
  .grid-container {
    display: grid;
    width: 80%;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    margin: auto auto;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 230px;
    width: 210px;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 300px;
    max-height: 280px;
}

.grid-item img:hover {
  opacity: 50%;
  transition: .2s ease;
}
}

@media screen and (max-width: 750px) {
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 230px;
    width: 210px;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 300px;
    max-height: 280px;
}

.grid-container {
  display: grid;
  width: 80%;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin: auto auto;
}

.grid-item img:hover {
  opacity: 50%;
  transition: .2s ease;
}
}

@media screen and (max-width: 650px) {
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 200px;
    width: 190px;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 260px;
    max-height: 260px;
}

.grid-container {
  display: grid;
  width: 80%;
  grid-gap: 20px;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin: auto auto;
}

.grid-item img:hover {
  opacity: 50%;
  transition: .2s ease;
}
}

@media screen and (max-width: 550px) {

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 200px;
    width: 190px;
    border-radius: 10px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .grid-item img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 260px;
    max-height: 260px;
}

.grid-container {
  display: grid;
  width: 80%;
  grid-gap: 20px;
  grid-template-columns: auto;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  margin: auto auto;
}

.grid-item img:hover {
  opacity: 50%;
  transition: .2s ease;
}
}